.reply-info {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 24px;
  padding: 2px 0;
  color: gray;
  &:hover {
    .reply-del-btn {
      display: block;
    }
  }
  .likes {
    display: flex;
    align-items: center;
    cursor: pointer;
    .likes-icon {
      &:hover {
        color: var(--blue);
      }
    }
    .liked {
      color: var(--blue);
    }
    span {
      margin-left: 5px;
    }
  }
  .reply-btn,
  .reply-del-btn {
    cursor: pointer;
    &:hover {
      color: var(--blue);
    }
  }
  .reply-del-btn {
    display: none;
  }
}
.r-item {
  margin-right: 20px;
}
